$color-primary: #212121;
$color-primary-light: #232b2b;
$color-secondary: #353839;
$color-secondary-light: #3b444b;
$color-text: #333;
$color-white: #fff;
$button-primary-color: #fc4c02;
$button-border-radius: .5rem;
$base-font-family:roboto;
$base-font-size:.5rem;
$color-red:#e53901;
$color-grey:#171513;
$bg-transparent:transparent;

